<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css'>

    <title>Ask the Audience</title>
  </head>
  <body>
    <h4 class = "center" id="close-poll"></h4>
    <h1 class="center">Your Polls</h1>

    <div class="container">
      <!-- <a href="#">More</a> &nbsp || &nbsp -->
      <%= console.log(polls) %>
      <% for(var i=0; i < polls.length; i++){ %>
        <a href="/polls/<%= polls[i].id %>/<%= polls[i].adminId %>"><%= polls[i].title %></a> &nbsp || &nbsp
      <% }%>

      <br><br><br>
    </div>
    <div id="status-message"></div>
    <!-- Make sure your JS is at the bottom of the body! -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
